

$color-primary:#549bec;
$color-light-blue:#cceaeccb;
$color-blue-dark:#01012c;

//device break ponts

$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
//$bp-phone:22.5em; //360px



*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
 font-size: 62.5%;
 font-family: 'Lato', sans-serif; 
 line-height: 1.25;

 @media screen and (max-width:$bp-medium){
font-size: 50%;
 
}
@media screen and (max-width:$bp-large){
  font-size: 55%;
  
}

@media screen and (max-width:$bp-small){
  font-size: 40%;
  
}
}


body {
  background-image: linear-gradient($color-light-blue 0% 15%,transparent 20% 100%);
 font-size: 1.45rem;
}

.container {

  display: grid;
  grid-template-columns:minmax(10rem,1fr) repeat(6,minmax(min-content,25rem)) minmax(10rem,1fr);
  grid-template-rows: 5rem minmax(90vh,min-content) repeat(6,minmax(5rem,min-content));
  justify-content: center;
  align-items: center;
}


