.community {
      background-color: $color-light-blue;
      grid-column: 1/-1;
      grid-row: 5/6;

      padding: 8rem 3rem;
      text-align: center;

      @media screen and (max-width:$bp-small){
         
           // grid-column: 1/-1;
             }

      &--card {
            width: 70%;
            margin: 4rem auto;
            padding: 2rem;
             min-height: 25rem;
            background-color: #fff;
            box-shadow: 0.3rem 1rem 1rem rgba( #000000, 0.4);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-items:flex-end;
      }
       
       p{
       margin: 0 auto;
      }

}  


.icon-quote {
      display: inline-block;
 font-size: 16rem;
 width: 10rem;
 height: 10rem;
 text-align: left;

}