.heading {
    
      &-1 {
            font-size: 6rem;
            color: $color-blue-dark;
      }
      &-2 {
            font-size: 4rem;
            color: $color-blue-dark;
      }
      &-3 {
            font-size: 2.5rem;
            color: $color-blue-dark;
      }
     
}


     .mb-large {
            margin-bottom: 4rem;

      }


     .paragraph {
        
            font-size: 2rem;
            color: #8d8a8aaf;
            margin: 1.5rem 0;

            @media screen and (max-width:$bp-small){
                  width: 80%;
                      
                    }
      }