.vision {
      grid-column: 1/-1;  
      grid-row: 6/7;
      padding: 5rem 0 0 0;
      text-align: center;
      background-color: $color-light-blue;
     

      &__subscription {
            background-color: $color-primary;
            padding: 5rem;
            display: flex;
            color: #fff;
            justify-content: center;


            @media screen and (max-width:$bp-large){
                 flex-direction: column;
                 justify-content: space-between;
                 align-items: center;

  
             }

            button {
                  color: #fff;
                  margin: 0 4rem;
                  padding: 1rem 2rem;
                  background-color: transparent;
                  border: 1px solid #fff;



                  @media screen and (max-width:$bp-large){
                      
                        margin-top: 4rem;
                    
                   }
         
            }

      }

      &__img {
            width: 100%;
            height:15rem ;
            img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
            }
      }

      p {
            width: 50%;
            font-size: 1.4rem;
            margin: 0 auto;
            padding: 4rem 0;
      }
      h2.heading-2-vision {
            color: #fff;
            font-weight: 300;
      }

}